{% extends 'base.html' %} {% load crispy_forms_tags  %} {% block title %}About Us{% endblock %} {% block content %}



<section class="flex items-center bg-stone-50 xl:h-screen font-poppins dark:bg-gray-800 my-5 mb-20">
    <div class="justify-center flex-1 max-w-6xl py-4 mx-auto lg:py-6 md:px-6">
        <div class="flex flex-wrap items-center ">
            <div class="w-full px-4 mb-10 lg:w-1/2 lg:mb-0">
                <div class="lg:max-w-md">
                    <span class="text-xl font-semibold text-blue-600 uppercase dark:text-blue-500">
                        About Us</span>
                    <h2 class="mt-4 mb-6 text-2xl font-bold text-gray-600 dark:text-gray-400">
                        Welcome to our Train Ticket Booking System! We are passionate about providing seamless and convenient travel experiences for our users.
                    </h2>
                    {% comment %} class="mb-10 text-gray-600 dark:text-gray-400 " {% endcomment %}
                    <h2 class="mb-4 text-xl font-bold leading-tight dark:text-gray-300 md:text-2xl">
                        Key Features:
                    </h2>
                    <ul class="list-disc list-inside mb-10 text-gray-600 dark:text-gray-400">
                        <li>> Effortless Ticket Booking: Easily book train tickets with just a few clicks.</li>
                        <li>> Wide Range of Trains: Explore a diverse range of trains to suit your travel preferences.</li>
                        <li>> Real-Time Schedules: Stay informed with real-time train schedules and updates.</li>
                        <li>> User-Friendly Interface: Our platform is designed for a smooth and intuitive user experience.</li>
                    </ul>
                </div>
            </div>
            <div class="w-full px-4 mb-10 lg:w-1/2 lg:mb-0">
                <div class="flex mb-4">
                    <span
                        class="flex items-center justify-center flex-shrink-0 w-12 h-12 mr-6 bg-blue-500 rounded dark:bg-blue-500 dark:text-gray-100 text-gray-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="w-5 h-5 bi bi-file-earmark-code" viewBox="0 0 16 16">
                            <path
                                d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5L14 4.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h-2z" />
                            <path
                                d="M8.646 6.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L10.293 9 8.646 7.354a.5.5 0 0 1 0-.708zm-1.292 0a.5.5 0 0 0-.708 0l-2 2a.5.5 0 0 0 0 .708l2 2a.5.5 0 0 0 .708-.708L5.707 9l1.647-1.646a.5.5 0 0 0 0-.708z" />
                        </svg>
                    </span>
                    <div>
                        <h2 class="mb-4 text-xl font-bold leading-tight dark:text-gray-300 md:text-2xl">
                            Design
                        </h2>
                        <p class="text-base leading-loose text-gray-500 dark:text-gray-400">
                            Our platform's design is crafted to provide an intuitive and visually appealing experience for users. Seamlessly navigate through the booking process with user-friendly interfaces and modern design principles.
                        </p>
                    </div>
                </div>
                <div class="flex mb-4">
                    <span
                        class="flex items-center justify-center flex-shrink-0 w-12 h-12 mr-6 bg-blue-500 rounded dark:bg-blue-500 dark:text-gray-100 text-gray-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="w-5 h-5 bi bi-file-text" viewBox="0 0 16 16">
                            <path
                                d="M5 4a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1H5zm0 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1H5z" />
                            <path
                                d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
                        </svg>
                    </span>
                    <div>
                        <h2 class="mb-4 text-xl font-bold leading-tight dark:text-gray-300 md:text-2xl">
                            Strategy
                        </h2>
                        <p class="text-base leading-loose text-gray-500 dark:text-gray-400">
                            Our mission is to simplify and enhance the train ticket booking process, making it accessible to everyone. We strive to provide a reliable and user-friendly platform that ensures a hassle-free travel experience for our passengers.
                        </p>
                    </div>
                </div>
                <div class="flex mb-4">
                    <span
                        class="flex items-center justify-center flex-shrink-0 w-12 h-12 mr-6 bg-blue-500 rounded dark:bg-blue-500 dark:text-gray-100 text-gray-50">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="w-5 h-5 bi bi-bank2" viewBox="0 0 16 16">
                            <path
                                d="M8.277.084a.5.5 0 0 0-.554 0l-7.5 5A.5.5 0 0 0 .5 6h1.875v7H1.5a.5.5 0 0 0 0 1h13a.5.5 0 1 0 0-1h-.875V6H15.5a.5.5 0 0 0 .277-.916l-7.5-5zM12.375 6v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zm-2.5 0v7h-1.25V6h1.25zM8 4a1 1 0 1 1 0-2 1 1 0 0 1 0 2zM.5 15a.5.5 0 0 0 0 1h15a.5.5 0 1 0 0-1H.5z">
                            </path>
                        </svg>
                    </span>
                    <div>
                        <h2 class="mb-4 text-xl font-bold leading-tight dark:text-gray-300 md:text-2xl">
                            Develop
                        </h2>
                        <p class="text-base leading-loose text-gray-500 dark:text-gray-400">
                            We focus on creating a robust and scalable system, ensuring smooth ticket transactions, and incorporating the latest technologies for an enhanced user experience.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

{% endblock %}