
<footer class="footer bg-gray-900  text-white">
    <hr>
    <div class="container mx-auto">
        <div class="mt-5 flex flex-col items-center">
            <div class="sm:w-2/3 text-center py-0 pb-2">
                {% comment %} <a class="text-sm">Terms and Conditions</a> | <a class="text-sm"> Privacy Policy</a> {% endcomment %}
                <p class="text-md text-white font-bold mb-2">
                    © {% now "Y" %} Modified by Samin Mahmud
                </p>
            </div>
        </div>
    </div>
</footer>