{% extends 'base.html' %} {% load static %} {% load compress %} {% block title %}Bangladesh Railway{% endblock %} {% block content %}

{% comment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bangladesh Railway</title>
    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
</head>
 src="{% static 'pic2.jpg' %}" 
<body class="mx-24 my-24">{% endcomment %}

    <div class="lg:flex mt-20 mb-20 ">
        <div class="flex-1 ml-16 pl-2">
            <img class="mb-10 rounded-full w-44 h-44 lg:w-96 lg:h-96" src="{% static 'pic2.jpg' %}" alt="image description">
        </div>
        <div class="flex-1 m-auto space-y-5 lg:space-y-5  text-center lg:text-start">
            <span class="self-center text-dark-600 lg:text-5xl text-2xl font-semibold whitespace-nowrap">Bangladesh Railway</span>
            <br>
            <a href="{% url 'register' %}" type="button" class="text-white bg-gradient-to-br from-pink-600 to-purple-600 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800  font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center ">
                Get Started
                <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
                </svg>
            </a>
        </div>

    </div>

{% comment %} </body>
</html> {% endcomment %}
{% endblock %}