{% extends 'base.html' %} {% load crispy_forms_tags %} 
{% block title %}Buy Ticket{% endblock %} 
{% block content %} 

{% comment %} show ticket section {% endcomment %}
<div class="shadow-2xl rounded px-8 pb-8 mt-5">
  <h3
    class="underline hover:underline-offset-4 self-center text-2xl font-semibold whitespace-nowrap dark:text-white shadow-2xl"
  >
    {{train.name}}
  </h3>
  <div class="flex justify-center align-middle">
    <div>
      <h3 class="mb-4 font-semibold dark:text-yellow-400">
        <h5><strong>Seat</strong> (click to buy ticket) :</h5>
        <br />
      </h3>
      <div class="grid grid-cols-5">
        {% for seat in seats %} {% if seat.active %}
        <a
          type="button"
          class="text-dark-600 bg-gradient-to-r from-red-200 via-red-300 to-red-500 focus:ring-4 focus:outline-none focus:ring-lime-300 dark:focus:ring-lime-800 shadow-lg shadow-lime-500/50 dark:shadow-lg dark:shadow-lime-800/80 font-bold rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          disabled
          >{{seat.seat_number}}</a
        >

        {% else %}
        <a
          href="{% url 'buy' train.id seat.id %}"
          class="text-white bg-gradient-to-r from-purple-500 via-purple-600 to-purple-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 shadow-lg shadow-purple-500/50 dark:shadow-lg dark:shadow-purple-800/80 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2"
          >{{seat.seat_number}}</a
        >
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</div>

{% comment %} Review section {% endcomment %}

<div
  class="mb-14 w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 m-auto mt-7"
>
  <form method="POST" class="max-w-sm mx-auto">
    <h5 class="text-xl font-medium text-gray-900 dark:text-white text-center">
      Add Comment
    </h5>
    {% csrf_token %} {% for hidden_field in form.hidden_fields %} 
    {{ hidden_field.errors }} {{ hidden_field }} {% endfor %} 
    {% for field in comment_form.visible_fields %}

    <div>
      <label
        for="{{ field.id_for_label }}"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >{{ field.label }}
      </label>
      <input
        name="{{ field.name }}"
        id="{{ field.id_for_label }}"
        type="{{ field.widget_type }}"
        class="block w-full p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
    </div>
    {% if field.errors %} {% for error in field.errors %}
    <p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
    {% endfor %} {% endif %} {% endfor %}

    <button
      type="submit"
      class="mt-2 w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    >
      Submit
    </button>

  </form>
</div>

{% comment %} Show review section {% endcomment %}
{% if comments %}
<div class="space-y-2 mb-20">
  <h5
    class="w-52 text-xl font-medium text-gray-900 dark:text-white text-center bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
  >
    All Comments:
  </h5>
    
    {% for comment in comments %}  
<div
    class="mb-2  w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700 mt-7"
  >
    <div class="flex items-start gap-2.5">
      <div class="flex flex-col w-full max-w-[320px] leading-1.5">
        <div class="flex items-center space-x-2 rtl:space-x-reverse">
          <span class="text-sm font-semibold text-gray-900 dark:text-white"
            >{{comment.name}}</span
          >
          <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
            >{{comment.created_on}}</span
          >
        </div>
        <p class="text-sm font-normal py-2 text-gray-900 dark:text-white pl-5">
          {{comment.body}}
        </p>
        <span class="text-sm font-normal text-gray-500 dark:text-gray-400"
          >Delivered</span
        >
      </div>
    </div>
    
  </div>{% endfor %}{% endif %}
</div>

{% endblock %}
